{% extends "base.html" %}
{% block title %}Les séances pour {{movie.title}}{% endblock %}
{% block content %}
<h1>{{ movie.title|title }} ({{movie.release_year}})</h1>


<img src="{{movie.cover_url}}" width="160" height="200" />

<p>Un film réalisé par {{movie.director}}.</p>

<p>Avec : {{movie.cast}}</p>

<p>Description : {{movie.description}}</p>

<p>Public : {{movie.rating}}</p>

<p>Pays : {{movie.country.name}}</p>

<p>Genre : {{movie.genre}}</p>

{% if showing_list %}
<h2>Prochaines séances pour {{movie.title|title}}</h2>
<ul>
    {% for showing in showing_list %}
    <li>{{ showing.date }} à {{ showing.time}} en {{showing.language}}.</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}