{% extends "base.html" %}
{% block title %}Prochaines séances{% endblock %}
{% block content %}

<h1>Prochaines séances</h1>
{% if showing_list %}
<br>
<table class="table table-hover table-striped">
    <tr>
        <th>Film</th>
        <th>Date</th>
        <th>Horaire</th>
        <th>Langue</th>
        <th>Places vendues</th>
        <th>Billeterie</th>
    </tr>
    {% for showing in showing_list %}
    <tr>
        <td><a href="{% url 'movies:detail' showing.movie.id %}">{{ showing.movie.title }}</a></td>
        <td>{{showing.date|date:"l d F Y"}} </td>
        <td>{{showing.time}}</td>
        <td>{{showing.language}}</td>
        <td>{{showing.tickets_sold}} / {{showing.room.capacity}}</td>


        {% if showing.tickets_sold < showing.room.capacity %} <td><a
                href="{% url 'movies:buy_tickets' showing.id %}">Acheter des billets</a></td>
            {% else %}
            <td></td>
            {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Aucune projection n’est planifiée.</p>
{% endif %}
{% endblock %}