{% extends "base.html" %}
{% block title %}Prochaines séances{% endblock %}
{% block content %}

<h1>Prochaines séances</h1>
{% if showing_list %}
{% regroup showing_list by movie as movie_list %}
{% for movie in movie_list %}
<div>
    <h2>{{movie.grouper.title}}</h2>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-2">
                <img src="{{movie.grouper.cover_url}}" width=100px />
            </div>
            <div class="col-8">
                <p>Réalisé par <strong>{{movie.grouper.director}}</strong></p>
                <p>Avec {{movie.grouper.cast}}</p>
                <p>Genre : <strong>{{movie.grouper.genre}}</strong></p>
            </div>
        </div>
    </div>
    <br>

    <ul>
        {% for showing in movie.list %}
        <li>{{showing.language}} : <a href="{% url 'movies:buy_tickets' showing.id %}">
                {{showing.date|date:"l d F Y"}} à {{showing.time}}</a></li>
        {% endfor %}
    </ul>
    <hr>
</div>
{% endfor %}

{% else %}
<p>Aucune projection n’est planifiée.</p>
{% endif %}



{% endblock %}