{% extends "base.html" %}
{% block title %}Actualités{% endblock %}
{% block content %}
<h1>Archives : {{ year|date:"Y" }}</h1>
<div class="row gx-5">
    <div class="col-8">
        {% for date in date_list %}
        <h2><a href="{% url 'blog:month_archive' date.year date.month %}">{{ date|date:"F Y"|title }}</a></h2>

        <div>

            {% for article in object_list %}
            {% if article.pub_date.month == date.month %}
            <p>
                <a
                    href="{% url 'blog:detail' article.pub_date.year article.pub_date.month article.pub_date.day article.slug %}">{{article.title}}</a>
                </h2>
                -
                publié le {{ article.pub_date|date:"j F Y" }}
            </p>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="col-4">
        <div class="p-3">
            <h2>Archives</h2>

            <h3>Par étiquettes</h3>
            <ul>
                {% for tag in tags %}
                <li><a href="{% url 'blog:tag_detail' tag.slug %}">{{tag.name}}
                        ({{tag.articles.all|length}})</a>
                </li>

                {% endfor %}
            </ul>


        </div>
    </div>

</div>

{% endblock%}