{% extends "base.html" %}
{% block title %}Actualités{% endblock %}
{% block content %}

<h1>Les Actualités</h1>
{% if article_list %}
<div class="row gx-5">
        <div class="col-8">
                <div>
                        {% for article in article_list %}
                        <h2 class="blog-title"><a
                                        href="{% url 'blog:detail' article.pub_date.year article.pub_date.month article.pub_date.day article.slug %}">{{article.title|title}}</a>
                        </h2>
                        <p class="article-summary">Publié par <strong>Philippe
                                        Lemaire</strong> le {{article.pub_date|date}}</p>
                        <p>{{article.summary}}</p>
                        <p><a class="link-readmore"
                                        href="{% url 'blog:detail' article.pub_date.year article.pub_date.month article.pub_date.day article.slug %}">Lire
                                        l’article ></a></p>



                        🏷️
                        {% for tag in article.tags.all %}
                        <a class="badge rounded-pill bg-primary text-light"
                                href="{% url 'blog:tag_detail' tag.slug %}">{{tag.name}}</a>
                        {% endfor %}<br><br>
                        <hr>
                        {% endfor %}

                </div>

                <br>
                <div class="pagination">
                        <nav aria-label="Page navigation">
                                <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                        <li class="page-item"><a class="page-link"
                                                        href="?page={{ page_obj.previous_page_number }}">Précédente</a>
                                        </li>
                                        {% endif %}

                                        {% for page in paginator%}
                                        <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">
                                                        {{ forloop.counter }}</a></li>

                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                        href="?page={{ page_obj.next_page_number }}">Suivante</a></li>
                                        {% endif %}
                                </ul>
                        </nav>

                </div>
        </div>
        <div class="col-4">
                <div class="p-3">
                        <h2>Archives</h2>
                        <h3>Par dates</h3>
                        {% regroup article_list by pub_date.year as year_list %}

                        <ul>
                                {% for year in year_list %}
                                <li><a href="{% url 'blog:year_archive' year.grouper %}">{{ year.grouper }}</a>
                                        {% regroup year.list by pub_date.month as month_list %}
                                        <ul>
                                                {% for month in month_list %}
                                                <li><a href="{% url 'blog:month_archive' year.grouper month.grouper %}">
                                                                {{month.list.0.pub_date|date:'F' }}
                                                                ({{month.list|length }})</a></li>
                                                {% endfor %}
                                        </ul>
                                </li>
                                {% endfor %}
                        </ul>

                        <h3>Par étiquettes</h3>
                        <ul>
                                {% for tag in tags %}
                                <li><a href="{% url 'blog:tag_detail' tag.slug %}">{{tag.name}}
                                                ({{tag.articles.all|length}})</a>
                                </li>

                                {% endfor %}
                        </ul>


                </div>
        </div>
</div>

{% else %}
<p>Aucun article.</p>
{% endif %}
{% endblock %}